# 4. Pandas - Cleaning Data

Data cleaning means fixing bad data in your data set.

Bad data could be:

* Empty cells
* Data in wrong format
* Wrong data
* Duplicates

## 4.1. Empty Cells

Empty cells can potentially give you a wrong result when you analyze data.

### 4.1.1. Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.
#### dropna()
همه ی ستون هایی که مقادیر گمشده دارند حذف میشوند

In [16]:
import pandas as pd

df = pd.read_excel('Reza1.xls')
df.head()

   Maxpulse    Duration         Data   pulse   Calories
0         2.5      60.0  '2020/12/01'   28.0  79.986111
1         2.5       NaN  '2020/12/01'   28.0  61.887366
2         NaN      60.0  '2020/12/01'  270.0  40.269535
3         2.5      60.0           NaN    NaN  41.052780
4         1.0      60.0  '2020/12/01'  360.0  44.296075

In [17]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

new_df = df.dropna()

print(new_df)

    Maxpulse    Duration                Data   pulse   Calories
0          2.5      60.0         '2020/12/01'   28.0  79.986111
4          1.0      60.0         '2020/12/01'  360.0  44.296075
5          2.5      60.0         '2020/12/01'   90.0  47.000000
6          2.5      60.0         '2020/12/01'   90.0  47.000000
8          2.5      60.0         '2020/12/01'   28.0  45.854291
10         2.5      60.0         '2020/12/01'   90.0  38.074244
11        26.0      60.0         '2020/12/01'   28.0  28.021684
12         2.5      60.0         '2020/12/01'  270.0  43.012960
13         2.5      60.0  2020-12-01 00:00:00   90.0  42.326932
14         2.5      60.0         '2020/12/01'   28.0  47.813782
15         2.5      60.0         '2020/12/01'   90.0  52.908320
16         2.5      60.0         '2020/12/01'   90.0  39.358048
17         2.5      60.0         '2020/12/01'  365.0  56.141962
19         2.5      60.0         '2020/12/01'  180.0  42.620648
20         2.5      60.0         '2020/12/01'  180.0  41.836714
21         2.5      60.0         '2020/12/01'   28.0  28.237490
22         2.5      60.0         '2020/12/01'    3.0   8.063422
23         2.5      60.0         '2020/12/01'  180.0  44.207822
25         2.5      60.0         '2020/12/01'  270.0  53.300632
26         2.5      60.0         '2020/12/01'  270.0  41.151375
27         2.5      60.0         '2020/12/01'  180.0  52.124386

If you want to change the original DataFrame, use the **inplace = True** argument:

In [18]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

df.dropna(inplace = True)
print(df)

    Maxpulse    Duration                Data   pulse   Calories
0          2.5      60.0         '2020/12/01'   28.0  79.986111
4          1.0      60.0         '2020/12/01'  360.0  44.296075
5          2.5      60.0         '2020/12/01'   90.0  47.000000
6          2.5      60.0         '2020/12/01'   90.0  47.000000
8          2.5      60.0         '2020/12/01'   28.0  45.854291
10         2.5      60.0         '2020/12/01'   90.0  38.074244
11        26.0      60.0         '2020/12/01'   28.0  28.021684
12         2.5      60.0         '2020/12/01'  270.0  43.012960
13         2.5      60.0  2020-12-01 00:00:00   90.0  42.326932
14         2.5      60.0         '2020/12/01'   28.0  47.813782
15         2.5      60.0         '2020/12/01'   90.0  52.908320
16         2.5      60.0         '2020/12/01'   90.0  39.358048
17         2.5      60.0         '2020/12/01'  365.0  56.141962
19         2.5      60.0         '2020/12/01'  180.0  42.620648
20         2.5      60.0         '2020/12/01'  180.0  41.836714
21         2.5      60.0         '2020/12/01'   28.0  28.237490
22         2.5      60.0         '2020/12/01'    3.0   8.063422
23         2.5      60.0         '2020/12/01'  180.0  44.207822
25         2.5      60.0         '2020/12/01'  270.0  53.300632
26         2.5      60.0         '2020/12/01'  270.0  41.151375
27         2.5      60.0         '2020/12/01'  180.0  52.124386

### 4.1.2. Replace Empty Values

The **fillna()** method allows us to replace empty cells with a value:

In [19]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

df.fillna(130, inplace = True)

### 4.1.3. Replace Only For Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [21]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

df["Calories"].fillna(130, inplace = True)

print(df)

    Maxpulse    Duration                Data   pulse    Calories
0          2.5      60.0         '2020/12/01'   28.0   79.986111
1          2.5       NaN         '2020/12/01'   28.0   61.887366
2          NaN      60.0         '2020/12/01'  270.0   40.269535
3          2.5      60.0                  NaN    NaN   41.052780
4          1.0      60.0         '2020/12/01'  360.0   44.296075
5          2.5      60.0         '2020/12/01'   90.0   47.000000
6          2.5      60.0         '2020/12/01'   90.0   47.000000
7          2.0       NaN         '2020/12/01'   28.0   36.447770
8          2.5      60.0         '2020/12/01'   28.0   45.854291
9          2.5      60.0                  NaN   28.0   39.289790
10         2.5      60.0         '2020/12/01'   90.0   38.074244
11        26.0      60.0         '2020/12/01'   28.0   28.021684
12         2.5      60.0         '2020/12/01'  270.0   43.012960
13         2.5      60.0  2020-12-01 00:00:00   90.0   42.326932
14         2.5      60.0         '2020/12/01'   28.0   47.813782
15         2.5      60.0         '2020/12/01'   90.0   52.908320
16         2.5      60.0         '2020/12/01'   90.0   39.358048
17         2.5      60.0         '2020/12/01'  365.0   56.141962
18         2.5      60.0         '2020/12/01'   90.0  130.000000
19         2.5      60.0         '2020/12/01'  180.0   42.620648
20         2.5      60.0         '2020/12/01'  180.0   41.836714
21         2.5      60.0         '2020/12/01'   28.0   28.237490
22         2.5      60.0         '2020/12/01'    3.0    8.063422
23         2.5      60.0         '2020/12/01'  180.0   44.207822
24         2.5      56.0         '2020/12/01'  365.0  130.000000
25         2.5      60.0         '2020/12/01'  270.0   53.300632
26         2.5      60.0         '2020/12/01'  270.0   41.151375
27         2.5      60.0         '2020/12/01'  180.0   52.124386

### 4.1.4. Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate **the mean, median or mode** value of the column

In [26]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

print(df)

    Maxpulse    Duration                Data   pulse   Calories
0          2.5      60.0         '2020/12/01'   28.0  79.986111
1          2.5       NaN         '2020/12/01'   28.0  61.887366
2          NaN      60.0         '2020/12/01'  270.0  40.269535
3          2.5      60.0                  NaN    NaN  41.052780
4          1.0      60.0         '2020/12/01'  360.0  44.296075
5          2.5      60.0         '2020/12/01'   90.0  47.000000
6          2.5      60.0         '2020/12/01'   90.0  47.000000
7          2.0       NaN         '2020/12/01'   28.0  36.447770
8          2.5      60.0         '2020/12/01'   28.0  45.854291
9          2.5      60.0                  NaN   28.0  39.289790
10         2.5      60.0         '2020/12/01'   90.0  38.074244
11        26.0      60.0         '2020/12/01'   28.0  28.021684
12         2.5      60.0         '2020/12/01'  270.0  43.012960
13         2.5      60.0  2020-12-01 00:00:00   90.0  42.326932
14         2.5      60.0         '2020/12/01'   28.0  47.813782
15         2.5      60.0         '2020/12/01'   90.0  52.908320
16         2.5      60.0         '2020/12/01'   90.0  39.358048
17         2.5      60.0         '2020/12/01'  365.0  56.141962
18         2.5      60.0         '2020/12/01'   90.0  43.934005
19         2.5      60.0         '2020/12/01'  180.0  42.620648
20         2.5      60.0         '2020/12/01'  180.0  41.836714
21         2.5      60.0         '2020/12/01'   28.0  28.237490
22         2.5      60.0         '2020/12/01'    3.0   8.063422
23         2.5      60.0         '2020/12/01'  180.0  44.207822
24         2.5      56.0         '2020/12/01'  365.0  43.934005
25         2.5      60.0         '2020/12/01'  270.0  53.300632
26         2.5      60.0         '2020/12/01'  270.0  41.151375
27         2.5      60.0         '2020/12/01'  180.0  52.124386

## 4.2. Data of Wrong Format

Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: ***remove the rows***, or ***convert all cells in the columns into the same format***.

### 4.2.1. Convert Into a Correct Format
Let's try to convert all cells in the 'Date' column into dates.

Pandas has a ***to_datetime()*** method for this:

In [31]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

df['Date'] = pd.to_datetime(df['Date'])

print(df)

    Maxpulse    Duration       Date  pulse   Calories
0          2.5      60.0 2020-12-01   28.0  79.986111
1          2.5       NaN 2020-12-01   28.0  61.887366
2          NaN      60.0 2020-12-01  270.0  40.269535
3          2.5      60.0        NaT    NaN  41.052780
4          1.0      60.0 2020-12-01  360.0  44.296075
5          2.5      60.0 2020-12-01   90.0  47.000000
6          2.5      60.0 2020-12-01   90.0  47.000000
7          2.0       NaN 2020-12-01   28.0  36.447770
8          2.5      60.0 2020-12-01   28.0  45.854291
9          2.5      60.0        NaT   28.0  39.289790
10         2.5      60.0 2020-12-01   90.0  38.074244
11        26.0      60.0 2020-12-01   28.0  28.021684
12         2.5      60.0 2020-12-01  270.0  43.012960
13         2.5      60.0 2020-12-25   90.0  42.326932
14         2.5      60.0 2020-12-01   28.0  47.813782
15         2.5      60.0 2020-12-01   90.0  52.908320
16         2.5      60.0 2020-12-01   90.0  39.358048
17         2.5      60.0 2020-12-01  365.0  56.141962
18         2.5      60.0 2020-12-01   90.0        NaN
19         2.5      60.0 2020-12-01  180.0  42.620648
20         2.5      60.0 2020-12-01  180.0  41.836714
21         2.5      60.0 2020-12-01   28.0  28.237490
22         2.5      60.0 2020-12-01    3.0   8.063422
23         2.5      60.0 2020-12-01  180.0  44.207822
24         2.5      56.0 2020-12-01  365.0        NaN
25         2.5      60.0 2020-12-01  270.0  53.300632
26         2.5      60.0 2020-12-01  270.0  41.151375
27         2.5      60.0 2020-12-01  180.0  52.124386

### 4.2.2 Removing Rows
The result from the converting in the example above gave us a NaT value, which can be handled as a NULL value, 

and we can remove the row by using the **dropna()** method.

In [ ]:
df.dropna(subset=['Date'], inplace = True)

## 4.3. Fixing Wrong Data
"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

### 4.3.1. Replacing Values
One way to fix wrong values is to replace them with something else.

In [5]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

df.loc[11, 'Duration'] = 5.5

print(df)

    Maxpulse    Duration                 Date  pulse   Calories
0          2.5      60.0         '2020/12/01'   28.0  79.986111
1          2.5       NaN         '2020/12/01'   28.0  61.887366
2          NaN      60.0         '2020/12/01'  270.0  40.269535
3          2.5      60.0                  NaN    NaN  41.052780
4          1.0      60.0         '2020/12/01'  360.0  44.296075
5          2.5      60.0         '2020/12/01'   90.0  47.000000
6          2.5      60.0         '2020/12/01'   90.0  47.000000
7          2.0       NaN         '2020/12/01'   28.0  36.447770
8          2.5      60.0         '2020/12/01'   28.0  45.854291
9          2.5      60.0                  NaN   28.0  39.289790
10         2.5      60.0         '2020/12/01'   90.0  38.074244
11        26.0       5.5         '2020/12/01'   28.0  28.021684
12         2.5      60.0         '2020/12/01'  270.0  43.012960
13         2.5      60.0  2020-12-25 00:00:00   90.0  42.326932
14         2.5      60.0         '2020/12/01'   28.0  47.813782
15         2.5      60.0         '2020/12/01'   90.0  52.908320
16         2.5      60.0         '2020/12/01'   90.0  39.358048
17         2.5      60.0         '2020/12/01'  365.0  56.141962
18         2.5      60.0         '2020/12/01'   90.0        NaN
19         2.5      60.0         '2020/12/01'  180.0  42.620648
20         2.5      60.0         '2020/12/01'  180.0  41.836714
21         2.5      60.0         '2020/12/01'   28.0  28.237490
22         2.5      60.0         '2020/12/01'    3.0   8.063422
23         2.5      60.0         '2020/12/01'  180.0  44.207822
24         2.5      56.0         '2020/12/01'  365.0        NaN
25         2.5      60.0         '2020/12/01'  270.0  53.300632
26         2.5      60.0         '2020/12/01'  270.0  41.151375
27         2.5      60.0         '2020/12/01'  180.0  52.124386

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

### Example
Loop through all values in the "Duration" column.

If the value is higher than 120, set it to 120:

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

### 4.3.2. Removing Rows
Another way of handling wrong data is to remove the rows that contains wrong data.

### Example
Delete rows where "Duration" is higher than 120:

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

## 4.4. Removing Duplicates

Duplicate rows are rows that have been registered more than one time.


### 4.4.1. Discovering Duplicates

To discover duplicates, we can use the **duplicated()** method.

The **duplicated()** method returns a Boolean values for each row:

Returns ***True*** for every row that is a duplicate, otherwise ***False***:

In [6]:
import pandas as pd

df = pd.read_excel('Reza1.xls')
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
dtype: bool

### 4.4.2. Removing Duplicates
To remove duplicates, use the **drop_duplicates()** method.

In [7]:
import pandas as pd

df = pd.read_excel('Reza1.xls')

df.drop_duplicates(inplace = True)

print(df)

    Maxpulse    Duration                 Date  pulse   Calories
0          2.5      60.0         '2020/12/01'   28.0  79.986111
1          2.5       NaN         '2020/12/01'   28.0  61.887366
2          NaN      60.0         '2020/12/01'  270.0  40.269535
3          2.5      60.0                  NaN    NaN  41.052780
4          1.0      60.0         '2020/12/01'  360.0  44.296075
5          2.5      60.0         '2020/12/01'   90.0  47.000000
7          2.0       NaN         '2020/12/01'   28.0  36.447770
8          2.5      60.0         '2020/12/01'   28.0  45.854291
9          2.5      60.0                  NaN   28.0  39.289790
10         2.5      60.0         '2020/12/01'   90.0  38.074244
11        26.0      60.0         '2020/12/01'   28.0  28.021684
12         2.5      60.0         '2020/12/01'  270.0  43.012960
13         2.5      60.0  2020-12-25 00:00:00   90.0  42.326932
14         2.5      60.0         '2020/12/01'   28.0  47.813782
15         2.5      60.0         '2020/12/01'   90.0  52.908320
16         2.5      60.0         '2020/12/01'   90.0  39.358048
17         2.5      60.0         '2020/12/01'  365.0  56.141962
18         2.5      60.0         '2020/12/01'   90.0        NaN
19         2.5      60.0         '2020/12/01'  180.0  42.620648
20         2.5      60.0         '2020/12/01'  180.0  41.836714
21         2.5      60.0         '2020/12/01'   28.0  28.237490
22         2.5      60.0         '2020/12/01'    3.0   8.063422
23         2.5      60.0         '2020/12/01'  180.0  44.207822
24         2.5      56.0         '2020/12/01'  365.0        NaN
25         2.5      60.0         '2020/12/01'  270.0  53.300632
26         2.5      60.0         '2020/12/01'  270.0  41.151375
27         2.5      60.0         '2020/12/01'  180.0  52.124386